## advanced list

* list is `mutable` meaning string **editable**.

* list1 + list2 is concatenate operation.

* list1 * int is doublicat operation.

In [ ]:
a = [0, 1, 2]
b = [4, 5, 6]
c = a + [3] + b

print(c)

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
a = [0, 1]
b = [4, a]

c = b*2 #[4, a, 4, a]
print(c)

c[1][0] = 10
# a[1] = 10
print(a)

[4, [0, 1], 4, [0, 1]]
[10, 1]

### List Methods

* `append`: Adds an element at the end of the list.
* `clear`: Removes all the elements from the list.
* `copy`:	Returns a copy of the list.
* `count`: Returns the number of elements with the specified value.
* `extend`: Add the elements of a list (or any iterable), to the end of the current list.
* `index`: Returns the index of the first element with the specified value.
* `insert`: Adds an element at the specified position.
* `pop`: Removes the element at the specified position.
* `remove`: Removes the first item with the specified value.
* `reverse`: Reverses the order of the list.
* `sort`: Sorts the list.

In [ ]:
a = [0, 1, 2]
b = a.append(3)
print(a)
print('b is', b)

a.append('abc')
print(a)

a.extend('abc')
print(a)

b = a.pop(-4)
print(a)
print(b)

a.insert(-4, 'abc')
print(a)

[0, 1, 2, 3]
b is None
[0, 1, 2, 3, 'abc']
[0, 1, 2, 3, 'abc', 'a', 'b', 'c']
[0, 1, 2, 3, 'a', 'b', 'c']
abc
[0, 1, 2, 'abc', 3, 'a', 'b', 'c']