## Comprehensions

ther are 4 type of comprehensions in python:
* List Comprehensions
* Dictionary Comprehensions
* Set Comprehensions
* Generator Comprehensions (**Not in our syllabus**)

The first three comprehension provide us a shorter syntax to create a new array (List, Dictionary, Set) based on the values of an existing array.

**List Comprehensions Example:**

```python
newlist = [expression for item in array]

newlist = [expression for item in array if condition == True]
```

In [ ]:
lower_names = ["dana", "igal", "moti"]

capitalize_names = []
for name in lower_names:
    capitalize_names.append(name.capitalize())

print(capitalize_names)

['Dana', 'Igal', 'Moti']

In [ ]:
lower_names = ["dana", "igal", "moti"]

capitalize_names = [name.capitalize() for name in lower_names]

print(capitalize_names)

['Dana', 'Igal', 'Moti']

In [ ]:
numbers = ["12", "32", "34"]

numbers_powered_by_six = [str(int(num)*6) for num in numbers]

print(numbers_powered_by_six)

['72', '192', '204']

In [ ]:
names_array = ["dana", "igal", "moti"]
# prefix_names_array = ["Dr_dana", "Dr_igal", "Dr_moti"]

prefix_names_array = ['Dr_' + name for name in lower_names]

print(prefix_names_array)

['Dr_dana', 'Dr_igal', 'Dr_moti']

In [ ]:
lower_names = ["dana", "igal", "moti"]
a_names = []

for name in lower_names:
    if 'a' in name:
        a_names.append(name)

print(a_names)

['dana', 'igal']

In [ ]:
lower_names = ["dana", "igal", "moti"]

a_names = [name for name in lower_names if 'a' in name]

print(a_names)

['dana', 'igal']

## Tuples

Like a list, tuples are an references array.

In [ ]:
array_0 = ['dana', 'moti']
array_1 = [array_0, '2', 3] # list
array_2 = (array_0, '2', 3) # tuple

print(array_1)
print(array_2)

array_0[0] = 'yosi' # ['yosi', 'moti']
array_0.append('yakir') # ['yosi', 'moti', 'yakir']


print(array_1)
print(array_2)

[['dana', 'moti'], '2', 3]
(['dana', 'moti'], '2', 3)
[['yosi', 'moti', 'yakir'], '2', 3]
(['yosi', 'moti', 'yakir'], '2', 3)

Unlike lists, tuples are not editable, **they are immutable**

In [ ]:
array_1 = [1, '2', 3.] # list
array_2 = (1, '2', 3.) # tuple

print(array_1[0])
print(array_2[0])

array_1[0] = 5
array_2[0] = 5 # 'tuple' object does not support item assignment

1
1

TypeError: ignored

In [ ]:
def Func(b):
    b[0] = None

a = [1, 2, 3]
# a = (1, 2, 3)
Func(a)
print(a)

[None, 2, 3]

## Dictionaries

Unlike sequences, which are indexed by a range of numbers (list, str, etc), dictionaries are indexed by keys, which can be any **immutable** type (strings, numbers, tuple, etc)

`Dict = {key1:value1, key2:value2, key3:value3}`

`Dict[key] => value`

In [ ]:
per = {'name': 'dan','age':5, 'weight':3.2}
print(per['name'])

dan

In [ ]:
grades_dict = {"dana": 95,
               "moti": 100,
               "yosi": 90}

print(grades_dict)

print(grades_dict['yosi'])

{'dana': 95, 'moti': 100, 'yosi': 90}
90

In [ ]:
a = (5, 7)

Dict = {5: 95,
        "moti": [10, 25, 69],
        a: 90}

print(Dict)

print(Dict['moti'])
print(Dict[5])
print(Dict[(5, 7)])

{5: 95, 'moti': [10, 25, 69], (5, 7): 90}
[10, 25, 69]
95
90

In [ ]:
grades_dict = {"dana": 95,
               "moti": 100,
               "yosi": 90}

# grades_dict = {}

print(grades_dict)

grades_dict['yakir'] = 75

print(grades_dict)

grades_dict['yakir'] = 99

print(grades_dict)

{'dana': 95, 'moti': 100, 'yosi': 90}
{'dana': 95, 'moti': 100, 'yosi': 90, 'yakir': 75}
{'dana': 95, 'moti': 100, 'yosi': 90, 'yakir': 99}

In [ ]:
name = 'yakir'
grad = grades_dict[name]
print(f'{name} grad is {grad}')

name = 'david'
grad = grades_dict[name]
print(f'{name} grad is {grad}')

yakir grad is 99

KeyError: ignored

In [ ]:
def get(Dict, key, defult=None):
    if key not in Dict:
        value = defult
    else:
        value = Dict[key]

    return value

In [ ]:
name = 'yakir'
grad = grades_dict.get(name, 60)
# grad = get(grades_dict, name, 100)
print(f'{name} grad is {grad}')

name = 'david'
grad = grades_dict.get(name, 60)
# grad = get(grades_dict, name, 100)
print(f'{name} grad is {grad}')

yakir grad is 99
david grad is 60

In [ ]:
def setdefault(Dict, key, defult):
    if key not in Dict:
        Dict[key] = defult

    return Dict[key]

In [ ]:
grades_dict = {"dana": 95,
               "moti": 100,
               "yosi": 90}

print(grades_dict)

name = 'yosi'
grad = grades_dict.setdefault(name, 60)
print(grad)

print(grades_dict)

name = 'david'
grad = grades_dict.setdefault(name, 60)
print(grad)
print(grades_dict)

{'dana': 95, 'moti': 100, 'yosi': 90}
90
{'dana': 95, 'moti': 100, 'yosi': 90}
60
{'dana': 95, 'moti': 100, 'yosi': 90, 'david': 60}

In [ ]:
for key in grades_dict.keys():
    print(key)

print(' ')
for value in grades_dict.values():
    print(value)

print(' ')
for k, v in zip(grades_dict.keys(), grades_dict.values()):
    print(k, v)

# grades_dict.items() = zip(grades_dict.keys(), grades_dict.values())
for k, v in grades_dict.items():
    print(k, v)

dana
moti
yosi
david

95
100
90
60

dana 95
moti 100
yosi 90
david 60
dana 95
moti 100
yosi 90
david 60

In [ ]:
david_grad = grades_dict.pop('david')

grades_dict

{'dana': 95, 'moti': 100, 'yosi': 90}

## Sets

In [ ]:
s = {1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 3, 'ya', 'ya'}
print(s)

{1, 2, 3, 4, 'ya'}

In [ ]:
s.add(7)
print(s)
s.add(6)
print(s)
s.add(3)
print(s)

{1, 2, 3, 4, 7, 'ya'}
{1, 2, 3, 4, 6, 7, 'ya'}
{1, 2, 3, 4, 6, 7, 'ya'}

In [ ]:
a = [1, 2, 3, 3, 5, 3, 4]
print(a)

b = set(a)
print(b)

c = list(b)
print(c)

[1, 2, 3, 3, 5, 3, 4]
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]