## Dictionaries

Unlike sequences, which are indexed by a range of numbers (list, str, etc), dictionaries are indexed by keys, which can be any **immutable** type (strings, numbers, tuple, etc)

`Dict = {key1:value1, key2:value2, key3:value3}`

`Dict[key] => value`

In [ ]:
per = {'name': 'dan','age':5, 'weight':3.2}
print(per['name'])

dan

In [ ]:
grades_dict = {"dana": 95,
               "moti": 100,
               "yosi": 90}

print(grades_dict)

print(grades_dict['yosi'])

{'dana': 95, 'moti': 100, 'yosi': 90}
90

In [ ]:
a = (5, 7)

Dict = {5: 95,
        "moti": [10, 25, 69],
        a: 90}

print(Dict)

print(Dict['moti'])
print(Dict[5])
print(Dict[(5, 7)])

{5: 95, 'moti': [10, 25, 69], (5, 7): 90}
[10, 25, 69]
95
90

In [ ]:
grades_dict = {"dana": 95,
               "moti": 100,
               "yosi": 90}

# grades_dict = {}

print(grades_dict)

grades_dict['yakir'] = 75

print(grades_dict)

grades_dict['yakir'] = 99

print(grades_dict)

{'dana': 95, 'moti': 100, 'yosi': 90}
{'dana': 95, 'moti': 100, 'yosi': 90, 'yakir': 75}
{'dana': 95, 'moti': 100, 'yosi': 90, 'yakir': 99}

In [ ]:
name = 'yakir'
grad = grades_dict[name]
print(f'{name} grad is {grad}')

name = 'david'
grad = grades_dict[name]
print(f'{name} grad is {grad}')

yakir grad is 99

KeyError: ignored

In [ ]:
def get(Dict, key, defult=None):
    if key not in Dict:
        value = defult
    else:
        value = Dict[key]

    return value

In [ ]:
name = 'yakir'
grad = grades_dict.get(name, 60)
# grad = get(grades_dict, name, 100)
print(f'{name} grad is {grad}')

name = 'david'
grad = grades_dict.get(name, 60)
# grad = get(grades_dict, name, 100)
print(f'{name} grad is {grad}')

yakir grad is 99
david grad is 60

In [ ]:
def setdefault(Dict, key, defult):
    if key not in Dict:
        Dict[key] = defult

    return Dict[key]

In [ ]:
grades_dict = {"dana": 95,
               "moti": 100,
               "yosi": 90}

print(grades_dict)

name = 'yosi'
grad = grades_dict.setdefault(name, 60)
print(grad)

print(grades_dict)

name = 'david'
grad = grades_dict.setdefault(name, 60)
print(grad)
print(grades_dict)

{'dana': 95, 'moti': 100, 'yosi': 90}
90
{'dana': 95, 'moti': 100, 'yosi': 90}
60
{'dana': 95, 'moti': 100, 'yosi': 90, 'david': 60}

In [ ]:
for key in grades_dict.keys():
    print(key)

print(' ')
for value in grades_dict.values():
    print(value)

print(' ')
for k, v in zip(grades_dict.keys(), grades_dict.values()):
    print(k, v)

# grades_dict.items() = zip(grades_dict.keys(), grades_dict.values())
for k, v in grades_dict.items():
    print(k, v)

dana
moti
yosi
david

95
100
90
60

dana 95
moti 100
yosi 90
david 60
dana 95
moti 100
yosi 90
david 60

In [ ]:
david_grad = grades_dict.pop('david')

grades_dict

{'dana': 95, 'moti': 100, 'yosi': 90}

## Sets

In [ ]:
s = {1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 3, 'ya', 'ya'}
print(s)

{1, 2, 3, 4, 'ya'}

In [ ]:
s.add(7)
print(s)
s.add(6)
print(s)
s.add(3)
print(s)

{1, 2, 3, 4, 7, 'ya'}
{1, 2, 3, 4, 6, 7, 'ya'}
{1, 2, 3, 4, 6, 7, 'ya'}

In [ ]:
a = [1, 2, 3, 3, 5, 3, 4]
print(a)

b = set(a)
print(b)

c = list(b)
print(c)

[1, 2, 3, 3, 5, 3, 4]
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]